<a href="https://colab.research.google.com/github/guillermoAlv/investment_management_with_python_and_machine_learning_esp/blob/main/course1_introduction_to_portfolio_construction_and_analysis_with_python/week1/basics_of_returns.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd

$R_{1,t+1}=\frac{P_{t+1}-P{_t}}{P_t}$

Or

$R_{1,t+1}=\frac{P_{t+1}}{P_t} - 1$

Supongamos que tenemos una secuencia de precios durante 3 dias consecutivos:

In [1]:
prices_a = [8.7, 8.91, 8.71]

El retorno en el periodo entre el segundo y el primer dia será:

In [2]:
8.91/8.7 - 1

0.024137931034482918

Un retorno de **0.024** o lo que es lo mismo un **2,4%**

El retorno entre el tercer y segundo dia será:

In [4]:
8.71/8.91 - 1

-0.022446689113355678

Un retorno de **-0.022** o lo que es lo mismo un **-2,2%**

Ahora vamos a calcular al mismo tiempo los retornos a lo largo de cada periodo

In [6]:
prices_a_vctr = np.array(prices_a)

In [7]:
prices_a_vctr[1:]/prices_a_vctr[:-1] - 1

array([ 0.02413793, -0.02244669])

Ahora usaremos pandas para hacer estos calculos, crearemos un dataframe que simulará dos stocks y sus precios a lo largo de 5 periodos

In [8]:
prices = pd.DataFrame({"BLUE":[8.7, 8.91, 8.71, 8.43, 8.73],
                       "ORANGE":[10.66, 11.08, 10.71, 11.59, 12.11]})

In [9]:
prices

   BLUE  ORANGE
0  8.70   10.66
1  8.91   11.08
2  8.71   10.71
3  8.43   11.59
4  8.73   12.11

In [12]:
prices.iloc[1:].values / prices[:-1] - 1

       BLUE    ORANGE
0  0.024138  0.039400
1 -0.022447 -0.033394
2 -0.032147  0.082166
3  0.035587  0.044866

In [14]:
prices/prices.shift(1) - 1

       BLUE    ORANGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866

In [15]:
prices.pct_change()

       BLUE    ORANGE
0       NaN       NaN
1  0.024138  0.039400
2 -0.022447 -0.033394
3 -0.032147  0.082166
4  0.035587  0.044866